Django==5.2.15
mysqlclient==2.2.8
django-mysql==4.19.0
django-nextjs==3.3.0
djangorestframework==3.17.1
Pillow==12.2.0
daphne==4.2.2
channels==4.3.2
drf-yasg==1.21.15
channels-redis==4.3.0
python-dotenv==1.2.2
